<!DOCTYPE html>
<html lang="eu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choice of administrator</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/add}">
   <label for="person">Choose person: </label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getName()}"></option>
   </select>

    <input type="submit" value="Accept">
</form>
</body>
</html>